* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  user-select: none;
  margin: 10px;
}

body {
  background: rgb(213, 213, 253);
}

.conteudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.entrevista p {
  font-family: Arial, Helvetica, sans-serif;
  transition: 1.5s;
}

.p {
  font-size: 16px;
}

.r {
  color: rgb(213, 213, 253);
  border-radius: 5px;
  user-select: none;
}

.r:hover {
  background: rgb(72, 158, 197);
}

li {
  list-style: none;
  border-radius: 10px;
  transition: 3s;
}

img {
  width: 550px;
  height: 300px;
  border-radius: 40px;
  padding: 5px;
  user-select: none;
}

img:hover {
  border: 2px black solid;
}

#menu {
  display: flex;
  justify-content: start;
  background: rgb(170, 170, 255);
  font-size: 20px;
}

.menu {
  display: flex;
  justify-content: start;
  padding: 5px;
  background: rgb(170, 170, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#card {
  padding: 10px;
  transition: 1s;
}

#card:hover {
  background: rgb(170, 170, 255);
  border: 1px black solid;
}

.titulo {
  display: flex;
  justify-content: center;
  padding: 2px;
}

.texto {
  padding: 10px;
}
