.foto{
    max-width: 100%;
    display: block;
    border-radius: 10%;
    margin: 0 auto;
    width: 730px;
    height: 400px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    grid-gap: 20px;
}

.flex > div{
    flex: 1 1 600px;
}

a{
    text-decoration: none;
}

.quatro {
    border-radius: 20%;
    margin: 20px;
    border-color: #f1c40f;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  .quatro:hover {
    background-position: 0;
  }

#rodape{
    position: absolute;
    margin: auto;
    background-color: aqua;
    bottom: 0%;
}